extends layout

block content
    .container
        h1 Five Multiplayer Card Game
        p Home Page
        if playerId
            div
                a(href="/start") Start new game
                br
                a(href="/logout") Logout
            ul
              each item in games
                li
                    a(href='/join?gameId=' + item.gameId) #{item.title} - ID: #{item.gameId} (#{item.busy}/#{item.total})
        else
            form(method="POST")
                input(type="text", name="name")
                input(type="submit", value="Set nickname")


